.card-container {
    background-color: rgb(230, 220, 240);
    color: white;
    width: 488px;
    height: 742px;
    border-radius: 40px;
    margin: 2rem;
    padding: 1rem;
    border: gray, 1px;
    margin-top: 30px;
}

.picture {
   
    color: white;
    width: 488px;
    height: 324px;
    margin: 2rem;
    padding: 1rem;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
}

.hijo {
    padding: 14px 16px;
    text-align: center;  
}

.contenedor {
    width: 400px ;
    display: flex;
    flex-direction: row;
    background-color: white;
}

.chijo {
    font-size: 16px;
    background-color: white;
    padding: 14px 16px;
}