

.Category.bar {
    background-color: teal;
    overflow: hidden;
}

.Categories a{
    float: left;
    text-align: center;
    padding: 14px 16px;
    
}

.stroke {

    color: chocolate;
    background-color: darkblue;
}
