.formato {
    height: 600px;
    width: 400px;
    background-color: brown;
    float: left;
    text-align: center;
    margin-left: 600px;
}

.outlined-basic {
    background-color:green;
    outline-color:purple;
    float: left;
    text-align: center;
}

.input {
   width: 400px;
   text-align: center;
   margin-left: 600px;
}