/*formulario */

.outlined-basic {
    background-color:green;
    outline-color:purple;
    float: left;
    text-align: center;
}

.input {
   text-align: center;
}

.TitleCampaignCreate{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.TitleCampaignCreate--text{
    margin-top: 60px;
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    text-align: center;
}

.experiment{
    text-align: center;
    margin-left: 200px;
}
