
/* Landing */

.landing{
    width: 100%;
    background-color:white;
    height: 750px;
    display: flex;
}

.imglanding {
    margin-top: 150px;
    margin-left: -130px;
}

.title {
background-color:white;
height: 300px;
width: 600px;
margin-left: 100px;
margin-top: 200px;
font-family: 'Poppins'; font-weight: bolder;
font-size: 24px;

}

.title.l{
    font-size: 60px;
    font-weight:bolder;
}

.title.parrafo {
    font-size: 5spx;
    font-weight: normal;
}

.button {
    margin-left: 160px;
    background-color: #FFD782; /* Green */
    border: none;
    color: #6B60AF;
    padding: 12px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 14px;
    font-family: 'Poppins'; font-weight: normal;
  }

  .Explora {
      margin-left: -250px;
margin-top:200px;
font-size: 28px;
font-family: 'Poppins'; font-weight: normal;
font-weight: bold;
  

  }


  /*categories */
  
.Category.bar {
    background-color: teal;
    overflow: hidden;
}

.Categories a{
    float: left;
    text-align: center;
    padding: 14px 16px;
    
}

.stroke {
    width: 40rem;
    padding-bottom: 6rem;
}


.correo{
    height: 400px;
    background-color: blue;
}

.paddingCards{
    margin-bottom: 8rem;
}


/* numbre */
.ContainerN {
    background-color:#fce8e8;
    height: 400px;
    display: flex;
    border-radius: 20px
    
} 


.texto { 
    background-color:#fce8e8;
    
    float: left;
    padding: 50px ;
    margin-left: -30px;
    margin-top: 200px;
    
}

.Bakrennum {
    font-size: 24px;
    margin-top: 30px;
    border-radius: 24px;
    font-family: 'Poppins'; font-weight: normal;
    margin-left: 300px;
}


/* Card */

.card-container {
    background-color: rgb(230, 220, 240);
    color: white;
    width: 488px;
    height: 742px;
    border-radius: 40px;
    margin: 2rem;
    padding: 1rem;
    border: gray, 1px;
    margin-top: 30px;
}

.picture {
   
    color: white;
    width: 488px;
    height: 324px;
    margin: 2rem;
    padding: 1rem;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
}

.hijo {
    padding: 14px 16px;
    text-align: center;  
}

.contenedor {
    width: 400px ;
    display: flex;
    flex-direction: row;
    background-color: white;
}

.chijo {
    font-size: 16px;
    background-color: white;
    padding: 14px 16px;
}


.container {
float: left;
}


/* Nueva campaña*/

.formato {
    margin-left: 200px;
    background-color: black;
}

.formatob { 
    background-color:beige;
}

.Creacampaign {
    background-color: brown;
}

.Imputbox {background-color: chartreuse;}

.outlined-basic {}


