@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: rgba(220,220,220, 0.1);
    margin: 0;
}

.buttonCTA {
    background: #FF9393 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 13px;
}